[Unit]
Description=Gunicorn server for SITENAME
[Service]
Restart=on-failure
User=karry
WorkingDirectory=/home/karry/my_sites/SITENAME/tdd_learn/tdd_learn_dj
ExecStart=/home/karry/my_sites/SITENAME/my_env/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket \
tdd_learn_dj.wsgi:application
[Install]
WantedBy=multi-user.target